@{
    ViewBag.Title = "Home Page";
}

<!-- About -->
<div id="about" class="section md-padding">

    <!-- Container -->
    <div class="container">
        <br/><br/>
        <!-- Row -->
        <div class="row">
            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Seja Bem-vindo</h2>
            </div>
            <!-- /Section header -->
            <!-- about -->
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-cogs"></i>
                    <h3>Nossas Ferramentas</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                    <a href="#">Leia mais</a>
                </div>
            </div>
            <!-- /about -->
            <!-- about -->
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-magic"></i>
                    <h3>Awesome Features</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                    <a href="#">Leia mais</a>
                </div>
            </div>
            <!-- /about -->
            <!-- about -->
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-mobile"></i>
                    <h3>Fully Responsive</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                    <a href="#">Leia mais</a>
                </div>
            </div>
            <!-- /about -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /About -->
<!-- Portfolio -->
<div id="portfolio" class="section md-padding bg-grey">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">
            <br /><br />
            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Startups em Destaque</h2>
            </div>
            <!-- /Section header -->
            <!-- Work -->
            <div class="col-md-4 col-xs-6 work">
                <img class="img-responsive" style="height:335px; width:100%;" src="~/Content/img/fatecoins1.png" alt="">
                <div class="overlay"></div>
                <div class="work-content">
                    <span>FATECOINS</span>
                    <h3>Quanto vale a sua ideia?</h3>
                    <div class="work-link">
                        <a href="#"><i class="fa fa-external-link"></i></a>
                        <a class="lightbox" href="~/Content/img/fatecoins1.png"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <!-- /Work -->
            <!-- Work -->
            <div class="col-md-4 col-xs-6 work">
                <img class="img-responsive" src="~/Content/img/work2.jpg" alt="">
                <div class="overlay"></div>
                <div class="work-content">
                    <span>Category</span>
                    <h3>Lorem ipsum dolor</h3>
                    <div class="work-link">
                        <a href="#"><i class="fa fa-external-link"></i></a>
                        <a class="lightbox" href="~/Content/img/work2.jpg"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <!-- /Work -->
            <!-- Work -->
            <div class="col-md-4 col-xs-6 work">
                <img class="img-responsive" src="~/Content/img/work3.jpg" alt="">
                <div class="overlay"></div>
                <div class="work-content">
                    <span>Category</span>
                    <h3>Lorem ipsum dolor</h3>
                    <div class="work-link">
                        <a href="#"><i class="fa fa-external-link"></i></a>
                        <a class="lightbox" href="~/Content/img/work3.jpg"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <!-- /Work -->
            <!-- Work -->
            <div class="col-md-4 col-xs-6 work">
                <img class="img-responsive" src="~/Content/img/work4.jpg" alt="">
                <div class="overlay"></div>
                <div class="work-content">
                    <span>Category</span>
                    <h3>Lorem ipsum dolor</h3>
                    <div class="work-link">
                        <a href="#"><i class="fa fa-external-link"></i></a>
                        <a class="lightbox" href="~/Content/img/work4.jpg"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <!-- /Work -->
            <!-- Work -->
            <div class="col-md-4 col-xs-6 work">
                <img class="img-responsive" src="~/Contentt/img/work5.jpg" alt="">
                <div class="overlay"></div>
                <div class="work-content">
                    <span>Category</span>
                    <h3>Lorem ipsum dolor</h3>
                    <div class="work-link">
                        <a href="#"><i class="fa fa-external-link"></i></a>
                        <a class="lightbox" href="~/Content/img/work5.jpg"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <!-- /Work -->
            <!-- Work -->
            <div class="col-md-4 col-xs-6 work">
                <img class="img-responsive" src="~/Content/img/work6.jpg" alt="">
                <div class="overlay"></div>
                <div class="work-content">
                    <span>Category</span>
                    <h3>Lorem ipsum dolor</h3>
                    <div class="work-link">
                        <a href="#"><i class="fa fa-external-link"></i></a>
                        <a class="lightbox" href="~/Content/img/work6.jpg"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <!-- /Work -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Portfolio -->
<!-- Numbers -->
<div id="numbers" class="section sm-padding">

    <!-- Background Image -->
    <div class="bg-img" style="background-image: url('../../Content/img/background2.jpg');">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->
    <!-- Container -->
    <div class="container">
        <br /><br />
        <!-- Row -->
        <div class="row">

            <!-- number -->
            <div class="col-sm-3 col-xs-6">
                <div class="number">
                    <i class="fa fa-users"></i>
                    <h3 class="white-text"><span class="counter">451</span></h3>
                    <span class="white-text">Happy clients</span>
                </div>
            </div>
            <!-- /number -->
            <!-- number -->
            <div class="col-sm-3 col-xs-6">
                <div class="number">
                    <i class="fa fa-trophy"></i>
                    <h3 class="white-text"><span class="counter">12</span></h3>
                    <span class="white-text">Awards won</span>
                </div>
            </div>
            <!-- /number -->
            <!-- number -->
            <div class="col-sm-3 col-xs-6">
                <div class="number">
                    <i class="fa fa-coffee"></i>
                    <h3 class="white-text"><span class="counter">154</span>K</h3>
                    <span class="white-text">Cups of Coffee</span>
                </div>
            </div>
            <!-- /number -->
            <!-- number -->
            <div class="col-sm-3 col-xs-6">
                <div class="number">
                    <i class="fa fa-file"></i>
                    <h3 class="white-text"><span class="counter">45</span></h3>
                    <span class="white-text">Projects completed</span>
                </div>
            </div>
            <!-- /number -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Numbers -->
<!-- Blog -->
<div id="blog" class="section md-padding bg-grey">

    <!-- Container -->
    <div class="container">
        <br /><br />
        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Eventos</h2>
            </div>
            <!-- /Section header -->
            <!-- blog -->
            <div class="col-md-4">
                <div class="blog">
                    <div class="blog-img">
                        <img class="img-responsive" src="~/Content/img/blog1.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                            <li><i class="fa fa-user"></i>John doe</li>
                            <li><i class="fa fa-clock-o"></i>18 Oct</li>
                            <li><i class="fa fa-comments"></i>57</li>
                        </ul>
                        <h3>Startup Weekend</h3>
                        <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
                        <a href="blog-single.html">Leia mais</a>
                    </div>
                </div>
            </div>
            <!-- /blog -->
            <!-- blog -->
            <div class="col-md-4">
                <div class="blog">
                    <div class="blog-img">
                        <img class="img-responsive" src="~/Content/img/blog2.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                            <li><i class="fa fa-user"></i>John doe</li>
                            <li><i class="fa fa-clock-o"></i>18 Oct</li>
                            <li><i class="fa fa-comments"></i>57</li>
                        </ul>
                        <h3>Molestie at elementum eu facilisis sed odio</h3>
                        <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
                        <a href="blog-single.html">Read more</a>
                    </div>
                </div>
            </div>
            <!-- /blog -->
            <!-- blog -->
            <div class="col-md-4">
                <div class="blog">
                    <div class="blog-img">
                        <img class="img-responsive" src="~/Content/img/blog3.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                            <li><i class="fa fa-user"></i>John doe</li>
                            <li><i class="fa fa-clock-o"></i>18 Oct</li>
                            <li><i class="fa fa-comments"></i>57</li>
                        </ul>
                        <h3>Molestie at elementum eu facilisis sed odio</h3>
                        <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
                        <a href="blog-single.html">Read more</a>
                    </div>
                </div>
            </div>
            <!-- /blog -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Blog -->
<!-- Contact -->
<div id="contact" class="section md-padding">

    <!-- Container -->
    <div class="container">
        <br /><br />
        <!-- Row -->
        <div class="row">

            <!-- Section-header -->
            <div class="section-header text-center">
                <h2 class="title">Entre em contato conosco</h2>
            </div>
            <!-- /Section-header -->
            <!-- contact -->
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-phone"></i>
                    <h3>Telefone</h3>
                    <p>(12) 98505-7686</p>
                </div>
            </div>
            <!-- /contact -->
            <!-- contact -->
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-envelope"></i>
                    <h3>Email</h3>
                    <p>startoupcontact@gmail.com</p>
                </div>
            </div>
            <!-- /contact -->
            <!-- contact -->
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-map-marker"></i>
                    <h3>Endereço</h3>
                    <p>Av. Castelo Branco, nº432, São Paulo/SP</p>
                </div>
            </div>
            <!-- /contact -->
            <!-- contact form -->
            <div class="col-md-8 col-md-offset-2">
                <form class="contact-form">
                    <input type="text" class="input" placeholder="Nome">
                    <input type="email" class="input" placeholder="Email">
                    <input type="text" class="input" placeholder="Assunto">
                    <textarea class="input" placeholder="Mensagem"></textarea>
                    <button class="main-btn">Enviar mensagem</button>
                </form>
            </div>
            <!-- /contact form -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Contact -->
<!-- Footer -->
<footer id="footer" class="sm-padding bg-dark">

        <!-- Container -->
    <div class="container">
        <br /><br />
        <!-- Row -->
        <div class="row">

            <div class="col-md-12">

                <!-- footer logo -->
                <div class="footer-logo">
                    <a href="~/Views/Home/Index.cshtml"><img src="~/Content/img/Logo_StarToUp1.png" alt="logo"></a>
                </div>
                <!-- /footer logo -->
                <!-- footer follow -->
                <ul class="footer-follow">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <!-- /footer follow -->
                <!-- footer copyright -->
                <div class="footer-copyright">
                    <p>Copyright © 2019. All Rights Reserved. Designed by <a href="https://techintime.com" target="_blank">Tech In Time</a></p>
                </div>
                <!-- /footer copyright -->

            </div>

        </div>
        <!-- /Row -->

    </div>
        <!-- /Container -->

    </footer>
    <!-- /Footer -->
    
