@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>StarToUp</h1>
    <p class="lead">Venha decolar com a gente!</p>
    <p class="btn btn-default btn-lg">@Html.ActionLink("Cadastrar Startup", "Create", "StartupCadastros")</p>
    <label id="lbl"></label>
</div>
