@model StarToUp.Models.StartupCadastro
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <section>
                <div class="top">
                    <div class="panel-body">
                        <h3 class="text-center">Colocar Logo?</h3>
                        <hr />
                        <form class="form-horizontal">
                            <div class="form-group-lg">
                                @Html.DropDownList("TipoUsuarioID", null, "Você é uma Empresa ou Startup?", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TipoUsuarioID, "", new { @class = "text-danger" })
                            </div>
                            <br>
                            <div class="form-group-lg">
                                <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome da Startup *" />
                            </div>
                            <br>
                            <div class="form-group-lg">
                                <input type="text" name="email" id="email" class="form-control" placeholder="E-mail de Contato *" />
                            </div>
                            <br>
                            <div class="form-group-lg">
                                <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha *" />
                            </div>
                            <br>
                            <div class="form-group-lg">
                                <input type="password" name="confSenha" id="confSenha" class="form-control" placeholder="Confirmar Senha *" />
                            </div>
                            <br>
                            <div class="form-group-lg">
                                <div class="g-recaptcha" data-sitekey="6Ldjv5gUAAAAAClKvvSPLuzA5KkLrdm1hv9pMwmD"></div>
                            </div>
                            <br>
                            <input type="submit" value="Cadastrar" class="btn btn-success btn-group-justified" />
                            <div class="form-group-lg">
                                <p class="textoTermo">Ao Clicar em CADASTRAR você estará aceitanto os termos de usu desse site <a href="#">Termos de Uso</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
}
<footer id="footer" class="sm-padding bg-dark">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <div class="col-md-12">
                <!-- footer logo -->
                <div class="footer-logo">
                    <a href="~/Views/Home/Index.cshtml"><img src="~/Content/img/Logo_StarToUp1.png" alt="logo"></a>
                </div>
                <!-- /footer logo -->
                <!-- footer follow -->
                <ul class="footer-follow">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <!-- /footer follow -->
                <!-- footer copyright -->
                <div class="footer-copyright">
                    <p>Copyright © 2019. All Rights Reserved. Designed by <a href="https://techintime.com" target="_blank">Tech In Time</a></p>
                </div>
                <!-- /footer copyright -->
            </div>
        </div>
        <!-- /Row -->
    </div>
    <!-- /Container -->
</footer>
<!-- /Footer -->


@section scripts{
    <script>
        $(function () {
            $('input, select, textarea').each(function () {
                if ($(this).hasClass('input-validation-error'))
                    $(this).focus();
            });
        });
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
