@model StarToUp.Models.StartupCadastro
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <br/>
        <div class="section-header text-center">
            <h2 class="title">Startup, Crie seu cadastro</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <br/>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <div class="input">
                    @Html.DropDownList("TipoUsuarioID", null, "Você é uma Empresa ou Startup?", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipoUsuarioID, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    <input type="text" name="nome" id="nome" class="input" placeholder="Nome da Startup *" />
                </div>
                <br />
                <div>
                    <input type="text" name="email" id="email" class="input" placeholder="E-mail de Contato *" />
                </div>
                <br />
                <div>
                    <input type="password" name="senha" id="senha" class="input" placeholder="Senha *" />
                </div>
                <br />
                <div>
                    <input type="password" name="confSenha" id="confSenha" class="input" placeholder="Confirmar Senha *" />
                </div>
                <br />
                <div class="captcha">
                    <div class="g-recaptcha" data-sitekey="6Ldjv5gUAAAAAClKvvSPLuzA5KkLrdm1hv9pMwmD"></div>
                </div>
                <br />
                <button class="main-btn btn-block" type="submit" value="Cadastrar">Cadastrar</button>
                @*<p class="textoTermo">Ao Clicar em CADASTRAR você estará aceitanto os termos de usu desse site.<br/><a href="#">Termos de Uso*</a></p>*@
                
            </form>
        </div>
    </div>

}
<footer id="footer" class="sm-padding bg-dark">
    <!-- Container -->
    <div class="container-fluid">
        <br/><br/>
        <!-- Row -->
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- footer logo -->
                <div class="footer-logo">
                    <a href="~/Views/Home/Index.cshtml"><img src="~/Content/img/Logo_StarToUp1.png" alt="logo"></a>
                </div>
                <!-- /footer logo -->
                <!-- footer follow -->
                <ul class="footer-follow">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <!-- /footer follow -->
                <!-- footer copyright -->
                <div class="footer-copyright">
                    <p>Copyright © 2019. All Rights Reserved. Designed by <a href="https://techintime.com" target="_blank">Tech In Time</a></p>
                </div>
                <!-- /footer copyright -->
            </div>
        </div>
        <!-- /Row -->
    </div>
    <!-- /Container -->
</footer>
<!-- /Footer -->
@section scripts{
    <script>
        $(function () {
            $('input, select, textarea').each(function () {
                if ($(this).hasClass('input-validation-error'))
                    $(this).focus();
            });
        });
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
