@model IEnumerable<StarToUp.Models.StartupCadastro>
@{
    ViewBag.Title = "EsqueciSenha";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="login_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-login login_block">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="centerLoginContent">
                                    <form name="loginForm" action="/login" method="post">
                                        <input type="hidden" name="initialURI" value="/">
                                        <h2 class="login_title">REDEFINIR SENHA</h2>
                                        <div class="">
                                            <p class="login_text">Insira seu e-mail abaixo para recuperação de <span>senha</span></p>
                                            <div class="form-group">
                                                <label for="username">Email<span class="err_cls">*</span></label>
                                                <input class="input form-control" tabindex="1" id="email" name="email" type="text" placeholder="Email" onblur="this.placeholder = 'Email'" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <div id="UIPortalLoginFormAction" class="loginButton">
                                <button class="button_login" type="submit" value="EsqueciSenha" tabindex="4">Redefinir senha</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


