@model IEnumerable<StarToUp.Models.StartupCadastro>
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Logon";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="section-header text-center">
            <br />
            <h2 class="title">Startup, Crie seu cadastro</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div class="card card-container">
            <form class="form-signin">
                <br />
                <div>
                    <input type="text" name="email" id="email" class="input" placeholder="E-mail de Contato *" />
                </div>
                <br />
                <div>
                    <input type="password" name="senha" id="senha" class="input" placeholder="Senha *" />
                </div>
                <br />
                <button class="main-btn btn-block" type="submit" value="Entrar">Entrar</button>
            </form>
        </div>
    </div>

}
<footer id="footer" class="sm-padding bg-dark">
    <!-- Container -->
    <div class="container-fluid">
        <br /><br />
        <!-- Row -->
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- footer logo -->
                <div class="footer-logo">
                    <a href="~/Views/Home/Index.cshtml"><img src="~/Content/img/Logo_StarToUp1.png" alt="logo"></a>
                </div>
                <!-- /footer logo -->
                <!-- footer follow -->
                <ul class="footer-follow">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <!-- /footer follow -->
                <!-- footer copyright -->
                <div class="footer-copyright">
                    <p>Copyright © 2019. All Rights Reserved. Designed by <a href="https://techintime.com" target="_blank">Tech In Time</a></p>
                </div>
                <!-- /footer copyright -->
            </div>
        </div>
        <!-- /Row -->
    </div>
    <!-- /Container -->
</footer>
<!-- /Footer -->
@section scripts{
    <script>
        $(function () {
            $('input, select, textarea').each(function () {
                if ($(this).hasClass('input-validation-error'))
                    $(this).focus();
            });
        });
    </script>
}
